*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,
body {
    height: 100%;
}

body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Apple SD Gothic Neo, Noto Sans KR, sans-serif;
    background-color: var(--bg);
    color: var(--fg);
}

* {
    font-family: "Circular Std", "Noto Sans KR";
    letter-spacing: -0.05em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Circular Std", "Noto Sans KR";
    font-weight: 700;
}



button {
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

section {
  min-height: 100vh;
}

ul,
ol,
dl {
  list-style: none;
}